# Python
__pycache__/
*.pyc
*.pyo

# Ambientes virtuais (qualquer pasta)
venv/
.venv/
*/venv/
*/.venv/

# Arquivos de ambiente
.env

# Modelos Keras / TensorFlow
*.h5
*.keras
*.hdf5

# Data
Data/
data/
*/Data/
*/data/